# Store large pcap,png,csv,svg files locally
*.pcap
*.csv
*.png
*.svg
*tmp*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE Fragments
.vscode
# MacOS stuff
.DS_Store

# vscode
.vscode/*
